// Color system
// --------------------------------------------------
$whitesmoke   = #f5f5f5;
$gainsboro    = #eee;
$grey-lighter = #ddd;
$grey-light   = #ccc;
$grey         = #bbb;
$grey-dark    = #999;
$grey-dim     = #666;
$black-light  = #555;
$black-dim    = #333;
$black-deep   = #222;
$red          = #ff2a2a;
$blue-bright  = #87daff;
$blue         = #0684bd;
$blue-deep    = #262a30;
$orange       = #fc6423;



// Note colors
// --------------------------------------------------
// Read note light_bg_offset from NexT config and set in '$lbg%' to use it as string variable.
$lbg = hexo-config('note.light_bg_offset') is a 'unit' ? unit(hexo-config('note.light_bg_offset'), '%') : 0;
$note-types = 'default' 'primary' 'info' 'success' 'warning' 'danger';

$note-border-radius         = 3px;

$note-border = {
  default : #777,
  primary : #6f42c1,
  info    : #428bca,
  success : #5cb85c,
  warning : #f0ad4e,
  danger  : #d9534f
};

$note-bg = {
  default : lighten(spin($note-border.default, 0), 94% + $lbg),
  primary : lighten(spin($note-border.primary, 10), 92% + $lbg),
  info    : lighten(spin($note-border.info, -10), 91% + $lbg),
  success : lighten(spin($note-border.success, 10), 90% + $lbg),
  warning : lighten(spin($note-border.warning, 10), 88% + $lbg),
  danger  : lighten(spin($note-border.danger, -10), 92% + $lbg)
};

$note-text = {
  default : $note-border.default,
  primary : $note-border.primary,
  info    : $note-border.info,
  success : $note-border.success,
  warning : $note-border.warning,
  danger  : $note-border.danger
};

$note-icon = {
  default : '\f0a9',
  primary : '\f055',
  info    : '\f05a',
  success : '\f058',
  warning : '\f06a',
  danger  : '\f056'
};

$note-modern-border = {
  default : #e1e1e1,
  primary : #e1c2ff,
  info    : #b3e5ef,
  success : #d0e6be,
  warning : #fae4cd,
  danger  : #ebcdd2
};

$note-modern-bg = {
  default : lighten(spin($note-modern-border.default, 10), 60% + ($lbg * 4)),
  primary : lighten(spin($note-modern-border.primary, 10), 40% + ($lbg * 4)),
  info    : lighten(spin($note-modern-border.info, 10), 50% + ($lbg * 4)),
  success : lighten(spin($note-modern-border.success, 10), 40% + ($lbg * 4)),
  warning : lighten(spin($note-modern-border.warning, 10), 43% + ($lbg * 4)),
  danger  : lighten(spin($note-modern-border.danger, 10), 35% + ($lbg * 4))
};

$note-modern-text = {
  default : $grey-dim,
  primary : #6f42c1,
  info    : #31708f,
  success : #3c763d,
  warning : #8a6d3b,
  danger  : #a94442
};

$note-modern-hover = {
  default : darken(spin($note-modern-text.default, -10), 32%),
  primary : darken(spin($note-modern-text.primary, -10), 22%),
  info    : darken(spin($note-modern-text.info, -10), 32%),
  success : darken(spin($note-modern-text.success, -10), 27%),
  warning : darken(spin($note-modern-text.warning, -10), 18%),
  danger  : darken(spin($note-modern-text.danger, -10), 22%)
};

transform-map(map, transform) {
  new-map = {
  }
  for key, val in map {
    new-map[key] = transform(val);
  }
  return new-map;
}

$note-modern-border-dark = transform-map($note-modern-hover,  @(val) {           lighten(val, 10%)       });
$note-modern-bg-dark     = transform-map($note-modern-text,   @(val) { desaturate(darken(val, 20%), 20%) });
$note-modern-text-dark   = transform-map($note-modern-bg,     @(val) {            darken(val, 10%)       });
$note-modern-hover-dark  = transform-map($note-modern-border, @(val) {           lighten(val, 75%)       });

// Tabs border radius
// --------------------------------------------------
$tbr                        = 0;


// Label colors
// --------------------------------------------------
$label = {
  default : lighten(spin($note-border.default, 0), 89% + $lbg),
  primary : lighten(spin($note-border.primary, 10), 87% + $lbg),
  info    : lighten(spin($note-border.info, -10), 86% + $lbg),
  success : lighten(spin($note-border.success, 10), 85% + $lbg),
  warning : lighten(spin($note-border.warning, 10), 83% + $lbg),
  danger  : lighten(spin($note-border.danger, -10), 87% + $lbg)
};

